<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Danh sách todo</title>
</head>
<body>
	<h1>ds todo</h1>

	<form action="/new-todo" method="POST">
		<input type="text" name="title">
		<button type="submit">tao todo</button>
	</form>
  
</body>
</html>