button, input {outline: none;}

body{
	font-family: sans-serif;

}
#container {
	
	margin: 20px auto;
}
#calculator {
	width: 280px;
	height: 500px;
	background-color: #676a6b;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 3px;
}
#resut{
	height: 100px;
	background-color: #d8d2d2;
}
#history {
	text-align: right;
	height: 20px;
	margin: 0px 15px;
	padding-top: 18px;
}
#output{
	text-align: right;
	margin: 0 15px;
	padding-top: 20px;
	font-size: 15px;
	
}
#all{
	width: 190px!important;
}
#knot {
	height: 400px;

}
.operator, .number{
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
	border-radius: 5px;
	font-weight: normal;
	font-size: 15px;
	border: none;
	cursor: pointer;
}
.number {
	background-color: #afa5af;
}
.operator:hover{
	background-color: #fff;
}
.number:hover {
	background-color: #fff;
}
.dot {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
	border-radius: 5px;
	font-weight: normal;
	font-size: 15px;
	border: none;
	cursor: pointer;
}


 