button, input {outline: none;}

body{
	font-family: sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,45,1) 0%, rgba(0,212,255,1) 100%);
}
#container {
	color: #3f51b5;
	margin: 20px auto;
}
#calculator {
	width: 280px;
	height: 500px;
	background-color: #acedfa;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 3px;
}
#resut{
	height: 120px;

}
#history {
	text-align: right;
	height: 20px;
	margin: 0px 15px;
	padding-top: 18px;
}
#output{
	text-align: right;
	margin: 0 15px;
	padding-top: 20px;
	font-size: 15px;
	color: darkgreen;
}
#knot {
	height: 400px;

}
.operator, .number{
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
	border-radius: 5px;
	font-weight: normal;
	font-size: 15px;
	border: none;
	cursor: pointer;
}
.number {
	background-color: #afa5af;
}
.operator:hover{
	background-color: red;
}
.number:hover {
	background-color: red;
}
