/* @media (min-width: 1200px){
	.tab-content .content-tab-proindex .wrap-list .col-lg-2{
		width: 20%!important;
	}
}
 */


/* @media (min-width: 992px){
	.tab-model .menu-fruit ul li a:after{
	content: "/";
    position: absolute;
    right: -19px;
    top: 0;
	}
} */