.container {
	border: 1px solid black;
	display: grid;
	grid-template-rows: 50px 300px 50px;
	grid-template-columns: 100px 500px 100px;
	justify-content: center;
	align-content: center;
	height: 500px;
	max-width: 960px;
	
	justify-content: space-between;
	
}
header {
		background-color: red;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column:  span 1;
		grid-column:  span 3;
		justify-self: start;	
}
main {
	background-color: green;
	
}
aside {
	background-color: blue;
	
}
footer {
	background-color: yellow;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
}